<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="text-color-jmb"> Ingresar a JMB</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label">Correo:</label>
                        <input type="email" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Contraseña:</label>
                        <input type="" class="form-control" id="">
                    </div>

                    <button type="button" class="btn btn-primary form-control" routerLink="/panel">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>