<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header text-center">
                Contactar a JMB
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre y apellidos:</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Correo:</label>
                        <input type="email" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Telefono:</label>
                        <input type="tel" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Mensaje:</label>
                       <textarea class="form-control" id="" rows="4"></textarea>
                    </div>
                    
                    <button type="button" class="btn btn-primary form-control">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>