<!--=======Carousel========-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>

  <div class="container2 mt-2"><!--Encerrar todo en contenedor asi meter img y texto en uno solo-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/148.JPG"
          class="d-block w-100 imagen-oscura " style="height: 420px;">
        <div class="text-container">
          <h5>DTM PARA EQUIPOS PESADOS</h5>
          <p>Somos una empresa en el Golfo San Jorge en constante crecimiento, innovando día a día, alcanzando él
            máximo nivel de profesionalismo, para poder brindar una amplia cartera de servicios a nuestros clientes.
            Aportando soluciones de acuerdo a las necesidades requeridas, tenemos como objetivo ofrecer la mayor
            eficiencia en operaciones sostenibles y seguras para el desarrollo de los negocios de nuestro clientes.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/chatas.jpg"
          class="d-block w-100 imagen-oscura" style="height: 420px;
        width: auto;" alt="...">
        <div class="text-container">
          <h5>ALQUILER DE TRANSPORTES</h5>
          <p>Asistencia a la industria petrolera.Asistencia a la industria petrolera Asistencia a la industria
            petrolera Asistencia a la industria petrolera Asistencia a la industria petrolera Asistencia a la industria
            petrolera Asistencia a la industria petrolera Asistencia a la industria petrolera</p>
                        
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/190.jpg"
          class="d-block w-100 imagen-oscura" style="height: 420px;">
        <div class="text-container">
          <h5>SERVICIO DE GRUAS</h5>
          <p>Asistencia para el transporte de maquinaria pesada Asistencia para el transporte de maquinaria pesada
            Asistencia para el transporte de maquinaria pesada Asistencia para el transporte de maquinaria pesada
            Asistencia para el transporte de maquinaria pesada Asistencia para el transporte de maquinaria pesada.</p>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--============================-->


<br>
<div id="Nosotros" >
  <h5>NOSOTROS</h5>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book
  </p>
</div>

<br>
<section id="Servicios" >
  <h5>SERVICIOS</h5>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book
  </p>
</section>

<br>
<section id="Mision" >
  <h5>MISIÓN</h5>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book
  </p>
</section>

<br>
<section id="Vision" >
  <h5>VISIÓN</h5>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book
  </p>
</section>