<!--Migas de pan-->
<small>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Panel</li>
        </ol>
    </nav>
</small>

<!-- Boton para agregar acuerdos-->
<div class="row">
    <div class="col-2">
        <button title="Agregar usuario" type="button" class="btn btn-dark" routerLink="/agregar"><i
                class="fa-solid fa-circle-plus"></i> Agregar </button>
    </div>
    <div class="col-2">
        <button (click)="obtenerUsuarios()" title="Agregar usuario" type="button" class="btn btn-primary"><i class="fa-solid fa-rotate"></i> Actualizar
        </button>
    </div>
</div>

<!--Listado de datos dataTable-->
<div class="border rounded-2 p-1">
    <table id="" class="table table-sm pt-1">
        <thead class="table-info ">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Clave</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody class="small">
            <tr *ngFor="let item of usuarios">
                <td>{{item.id}}</td>
                <td>{{item.data.nombre}}</td>
                <td>{{item.data.apellidos}}</td>
                <td>user123</td>
                <td>{{item.data.clave}}</td>

                <td><button (click)="ver()" title="Ver más" class="btn btn-outline-primary btn-sm"><i
                            class="fa-solid fa-circle-info"></i></button> - <button routerLink="/editar" title="Editar"
                        class="btn btn-outline-success btn-sm"><i class="fa-solid fa-pencil"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<!--Fin dataTable -->